[Desktop Entry]
Name=AniLibria
Version=1.0
Exec=/usr/bin/AniLibria
Comment=AniLibria desktop client
Icon=anilibria
Type=Application
Terminal=false
StartupNotify=false
Encoding=UTF-8
Categories=Video;Application;