# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

deploy
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/anilibria-winmaclinux/v16
/.vs/slnx.sqlite-journal
/.vs/anilibria-winmaclinux/config/applicationhost.config
/src/debug
/src/release
src/.vs/AniLibria
/src/.vs/AniLibria/v16
/src/cpp.hint
/src/AniLibria_resource.rc
/src/AniLibria.vcxproj.user
/src/AniLibria.vcxproj.filters
/src/AniLibria.vcxproj
/src/AniLibria.sln
/src/.qmake.stash

mdk-sdk

