Package: aniliberty
Version: 2.2.34
Installed-Size: 2272
Maintainer: Ras <wd20mpgr8cwt@mail.ru>
Section: video
Source: https://github.com/anilibria/anilibria-winmaclinux
Homepage: https://github.com/anilibria/anilibria-winmaclinux
Architecture: amd64
Priority: standard
Depends: libmpv-dev, pkg-config, qt6-base-dev, qt6-declarative-dev, qt6-websockets-dev, qt6-svg-dev, libxkbcommon-dev, qml6-module-qt-labs-folderlistmodel, qml6-module-qt-labs-platform, qml6-module-qtcore, qml6-module-qtqml, qml6-module-qtqml-models, qml6-module-qtquick, qml6-module-qtquick-controls, qml6-module-qtquick-dialogs, qml6-module-qtquick-layouts, qml6-module-qtquick-particles, qml6-module-qtquick-window, qml6-module-qtquick-dialogs
Description: Desktop client for AniLibria
 Application allow watch online anime and synchronize with website favorites

