Package: anilibria
Version: 1.2.9
Installed-Size: 2272
Maintainer: Ras <wd20mpgr8cwt@mail.ru>
Section: video
Source: https://github.com/anilibria/anilibria-winmaclinux
Homepage: https://github.com/anilibria/anilibria-winmaclinux
Architecture: amd64
Priority: standard
Depends: qtdeclarative5-dev, qtmultimedia5-dev, libqt5multimedia5-plugins, libqt5svg5-dev, libqt5webview5-dev, qml-module-qtgraphicaleffects, qml-module-qtquick-layouts, qml-module-qtquick-dialogs, qml-module-qtquick-controls, qml-module-qtquick-controls2, qml-module-qt-labs-folderlistmodel, qml-module-qt-labs-settings, qml-module-qtmultimedia, qml-module-qtwebview, libqt5websockets5, libqt5websockets5-dev, qtwebengine5-dev, qml-module-qtquick-particles2, libvlc-dev, libvlccore-dev, vlc, qtquickcontrols2-5-dev
Description: Desktop client for AniLibria
 Application allow watch online anime and synchronize with website favorites

