.torrents-rightmenu {
    left: 100%;
    top: 0;
    transform: unset;
    font-size: 13px;
}

.torrents-rightmenu-settings {
    width: 340px;
    max-width: 400px;
    height: 270px;
    padding: 8px;
}

.torrents-rightmenu-remove {
    width: 180px;
    height: 35px;
    padding: 8px;
}

.torrents-disclaimer {
    font-size: var(--middle-font-size);
    font-style: italic;
}

.torrents-sortable-quality-container {
    width: 60px;
}