[Desktop Entry]
Name=AniLiberty
Exec=/usr/bin/aniliberty
Comment=AniLiberty desktop client
Icon=aniliberty
Type=Application
Terminal=false
StartupNotify=false
Encoding=UTF-8
Categories=Video;Application;
