<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="color-scheme" content="light dark">
	<title>Мои подборки</title>
	<link rel="icon" type="image/x-icon" href="/static/icons/logo/default.svg">
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="mainmenu.css">
	<link rel="stylesheet" href="pagestructure.css">
	<link rel="stylesheet" href="styles/mypage.css">
</head>
<body>
	<div id="app">
		<page-header v-model:main-menu-visible="mainMenuVisible" title="Мои подборки">
		</page-header>

		<div class="page-content-with-panel">
			<div class="left-panel flex-column">
				<div class="simple-panel-icon-button" title="Добавить новую подборку">
					<div @click="showAddModal()" class="full-width-height flex-row flex-base-center flex-other-center">
						<img :src="'/static/icons/commonbuttons/plus.svg'" width="30" height="30" />
					</div>
				</div>
			</div>
			<div class="right-content">
			    <div v-if="!selections.length" class="full-width-height flex-row flex-base-center flex-other-center">
					<span class="text-align-center">
						У Вас пока нет подборок.<br>
						Чтобы создать новую подборку нажмите на иконку с зеленым плюсиком в левой панели.
					</span>
				</div>
				<div v-if="selections.length">
					<div class="page-subheader page-line-pair flex-row flex-base-center">
						<simple-select
							class="mypage-subheader-selection-selector"
							v-model:item="selectedSelection"
							:options="selections"
							style="width: 220px;"
							@selected="">
						</simple-select>
					</div>
					<div v-for="(selection,index) in selections" :key="index">
						<div class="mypage-selection-header">
							{{ selection.title }} ({{ selection.count }})
						</div>
						<div class="flex-row full-width mypage-vertical-releases-container">
							<div
								class="item-container flex-column flex-base-center"
								v-for="(release, releaseIndex) in selection.releases"
								:title="release.description">
								<img class="poster" :src="'https://anilibria.top/' + release.poster" />
								<div class="release-title">{{ release.title }}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<dialog ref="modal" class="native-dialog-rounded" style="width: 400px;">
			<div class="mypage-dialog-header" v-if="modalMode === 'add'">Добавить подборку</div>
			<div class="mypage-dialog-header" v-if="modalMode === 'edit'">Изменить подборку</div>
			<div class="flex-column gap-4">
				<span class="common-text mypage-dialog-subheader">Тип подборки</span>
				<simple-select
					v-model:item="modelSelection.type"
					:options="selectionModes"
					style="width: 100%;">
				</simple-select>
				<span class="common-text mypage-dialog-subheader">Название</span>
				<input v-model="modelSelection.name" type="text" class="simple-input" placeholder="Введите название подборки" />
				<span class="common-text mypage-dialog-subheader">Максимум элементов</span>
				<simple-select
					v-model:item="modelSelection.maximumReleases"
					:options="maximumElements"
					style="width: 100%;">
				</simple-select>
				<span class="common-text mypage-dialog-subheader">Сортировка списка</span>
				<div class="flex-row flex-base-center">
					<simple-select v-model:item="modelSelection.sortingField"
									:options="sortingFields"
									class="flex-1"
									style="margin-right: 2px;"
									@selected="changedSortingFields()">
					</simple-select>
					<div class="simple-icon-button"
							title="Направление сортировки"
							@click="toggleSortingDescending()">
						<img :src="'/static/icons/releases/' + (modelSelection.sortingDescending ? 'sortdescending' : 'sortascending') + '.svg'" width="20" height="20" />
					</div>
				</div>
			</div>
			<div class="button-line">
				<div v-if="modalMode === 'add'" class="action-button" style="width: 60px;" @click="addNewSelection()">Добавить</div>
				<div v-if="modalMode === 'edit'" class="action-button" style="width: 60px;" @click="editExistsSelection()">Изменить</div>
				<div class="action-button" style="width: 60px;" @click="closeModal()">Отмена</div>
			</div>
		</dialog>
		<page-drawer v-model:main-menu-visible="mainMenuVisible">
		</page-drawer>
	</div>

	<script type="module">
		import { createApp, ref, useTemplateRef } from './vue.js'
		import {
			getSelectionCounts, addSelection, updateSelection, deleteSelection, getAllSelections
		} from './unfoldapi.js'
		import { selectionModes, sortingFields } from './releaseDictionaries.js'
		import SimpleSelect from './components/SimpleSelect.js'
		import Drawer from './components/Drawer.js'
		import PageHeader from './components/PageHeader.js'

		const app = createApp({
			components: {
				'page-drawer': Drawer,
				'page-header': PageHeader,
				'simple-select': SimpleSelect
			},
			setup() {
				const mainMenuVisible = ref(false);
				const selections = ref([]);
				const selectedSelection = ref(null);
				const modelSelection = ref({});
				const modal = useTemplateRef('modal');
				const modalMode = ref('');

				const maximumElements = [
					{
						title: "Неограниченно",
						id: null
					},
					{
						title: "5",
						id: 5
					},
					{
						title: "10",
						id: 10
					},
					{
						title: "15",
						id: 15
					},
					{
						title: "20",
						id: 20
					}
				];

				async function addNewSelection() {
					closeModal();

					if (!modelSelection.value.name) {
						const name = selectionModes.find(a => a.id === modelSelection.value.type).title;
						modelSelection.value.name = name;
					}
					await addSelection(modelSelection.value);
				}

				async function editExistsSelection() {
					closeModal();

					await updateSelection(modelSelection.value);
				}

				function showAddModal() {
					modalMode.value = 'add';
					modelSelection.value = {type: 1, maximumReleases: 5, sortingField: 0, sortingDescending: false};
					modal.value.showModal();
				}

				function showEditModal() {
					modalMode.value = 'edit';
					modal.value.showModal();
				}

				function closeModal() {
					modalMode.value = '';
					modal.value.close();
				}

				function toggleSortingDescending() {
					modelSelection.value.sortingDescending = !modelSelection.value.sortingDescending;
				}

				async function refreshCounts() {
					/*const counts = await getSelectionCounts();
					selections.value = counts.map(a => { return { type: a.type, title: a.name, count: a.count } });*/
					selections.value = await getAllSelections();
				}

				refreshCounts();

				return {
					mainMenuVisible,
					selections,
					modelSelection,
					modalMode,
					selectionModes,
					maximumElements,
					sortingFields,
					selectedSelection,
					showAddModal,
					closeModal,
					addNewSelection,
					editExistsSelection,
					toggleSortingDescending
				}
			}
		});

		app.mount('#app')
	</script>
</body>
</html>