[Desktop Entry]
Name=AniLibria
Comment=AniLibria desktop client
Exec=/opt/AniLibria/bin/AniLibria
Icon=anilibria
Type=Application
Version=0.1.8
Terminal=false
Categories=Application;Multimedia;
Keywords=anime;
