[Desktop Entry]
Name=AniLibria
Comment=AniLibria desktop client
Exec=/opt/AniLibria/bin/AniLibria
Icon=anilibria
Type=Application
Version=1.1.11
Terminal=false
Categories=Qt;AudioVideo;Player;
Keywords=anime;
