[Desktop Entry]
Name=AniLiberty
Comment=AniLiberty desktop client
Exec=/usr/bin/AniLiberty
Icon=AniLiberty
Type=Application
Terminal=false
Categories=Qt;AudioVideo;Player;
Keywords=anime;
