body {
    background-color: var(--page-background);
}

.page-upper-header {
    background-color: var(--page-header-background);
    height: 38px;
    width: 100%;
    display: flex;
    flex-direction: row;

    .icon-button {
        width: 38px;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: var(--icon-button-hovered);
        }
    }

    .page-header {
        flex: 1;
        font-size: 16px;
        font-family: "Google Sans", sans-serif;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: var(--page-header-text);
    }
}

.page-subheader {
    background-color: var(--page-header-background);
    height: 40px;
    width: 100%;
}

.page-content-with-panel {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 38px);

    .left-panel {
        width: 40px;
        height: 100%;
        background-color: var(--page-leftpanel-background);
    }

    .right-content {
        flex: 1;
        height: 100%;
    }
}

.page-line-pair {
    display: flex;
    flex-direction: row;

    :nth-child(2) {
        flex: 1;
    }
}