<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="color-scheme" content="light dark">
	<title>Каталог релизов</title>
	<style>
	</style>
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="mainmenu.css">
	<link rel="stylesheet" href="pagestructure.css">
	<link rel="stylesheet" href="styles/releases.css">
</head>
<body>
	<div id="app">
		<page-header v-model:main-menu-visible="mainMenuVisible"
			title="Каталог релизов">
		</page-header>

		<div class="page-content-with-panel">
			<div class="left-panel flex-column">
				<div
					class="simple-panel-icon-button"
					title="Выполнить синхронизация релизов">
					<img :src="'/static/icons/releases/synchronization.svg'" width="30" height="30" />
				</div>
				<div
					class="simple-panel-icon-button"
					title="Добавить/удалить релизы в/из избранного">
					<img :src="'/static/icons/releases/favorite.svg'" width="30" height="30" />
				</div>
				<div
					class="simple-panel-icon-button"
					title="Отметить релизы как просмотренные">
					<img :src="'/static/icons/releases/seen.svg'" width="30" height="30" />
				</div>
				<div
					class="simple-panel-icon-button"
					title="Добавлять/удалять релизы в/из кинозала">
					<img :src="'/static/icons/mainmenu/cinemahall.svg'" width="30" height="30" />
				</div>
				<div
					class="simple-panel-icon-button"
					title="Добавить фильтры для фильтрации по разным полям релиза">
					<img :src="'/static/icons/releases/search.svg'" width="30" height="30" />
				</div>
				<div
					class="simple-panel-icon-button"
					title="Посмотреть уведомления о непросмотренных изменениях">
					<img :src="'/static/icons/releases/notifications.svg'" width="30" height="30" />
				</div>
				<div
					class="simple-panel-icon-button"
					title="Открыть карточку релиза выбранного случайным образом">
					<img :src="'/static/icons/releases/random.svg'" width="30" height="30" />
				</div>
				<div
					class="simple-panel-icon-button"
					title="Настройка страницы Каталог релизов">
					<img :src="'/static/icons/commonbuttons/settings.svg'" width="30" height="30" />
				</div>
			</div>
			<div class="right-content">
				<div class="page-subheader page-line-pair">
					<div class="flex-row flex-base-center" style="margin: 0 0 0 4px;">
						<simple-select v-model:item="sectionSelected"
							:options="sections"
							style="width: 130px;"
							@selected="subSectionSelected = -1;">
						</simple-select>
						<div style="width: 4px;"></div>
						<simple-select v-if="sectionSelected === 6" v-model:item="subSectionSelected"
							:options="historySections"
							style="width: 170px;"
							@selected="subSectionSelected = -1;">
						</simple-select>
						<simple-select v-if="sectionSelected === 7" v-model:item="subSectionSelected"
							:options="seenMarkSections"
							style="width: 225px;"
							@selected="subSectionSelected = -1;">
						</simple-select>
						<simple-select v-if="sectionSelected === 8" v-model:item="subSectionSelected"
							:options="setsSections"
							style="width: 220px;"
							@selected="subSectionSelected = -1;">
						</simple-select>
					</div>
					<div class="flex-row flex-base-center flex-other-center">
						<input v-model="nameFilter" type="text" class="simple-input" placeholder="Введите название релиза" />
					</div>
					<div class="flex-row flex-base-center" style="margin-right: 4px;">
						<simple-select
							v-model:item="sortingField"
							:options="sortingFields"
							style="width: 170px; margin-right: 2px;">
						</simple-select>
						<div
							class="simple-icon-button"
							title="Направление сортировки поиска"
							@click="sortDescending = !sortDescending">
							<img :src="'/static/icons/releases/' + (sortDescending ? 'sortdescending' : 'sortascending') + '.svg'" width="20" height="20" />
						</div>
					</div>
				</div>
				<div>
					<div style="margin: 30px;" class="releases-release-item">
						<img
							class="poster"
							src="https://anilibria.top/storage/releases/posters/10284/OgaLrGL3z9xM1aMW2E4Zsr6YbeNSNdLY.jpg"
						/>
						<div class="information">
							<span class="header-text" style="margin-top: 2px;">Где те девушки, что были бы добры к отаку</span>
							<span class="normal-text">Сейчас в озвучке - Весна 2026</span>
							<span class="normal-text">ТВ 12 - Комедия, Сейнен, Школа, Романтика</span>
							<span class="normal-text"><b>Команда:</b> Lalala, Lalala, Lalala, Lalala, Lalala, Lalala, Lalala, Lalala</span>
							<div class="flex-row flex-base-center gap-4">
								<img src="/static/icons/releases/online.svg" width="20" height="20" />
								<span class="digit-text">1000/1000</span>
								<img src="/static/icons/mainmenu/torrent.svg" width="20" height="20" />
								<span class="digit-text">10</span>
								<img src="/static/icons/releases/favorite.svg" width="20" height="20" />
								<span class="digit-text">100000</span>
								<img src="/static/icons/releases/scheduleday.svg" width="20" height="20" />
								<span class="digit-text">ср</span>
							</div>
							<div class="flex-1"></div>
							<span class="header-text">В Избранном</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<page-drawer v-model:main-menu-visible="mainMenuVisible">
		</page-drawer>
	</div>

	<script type="module">
		import { createApp, ref } from './vue.global.js'
		import { getRelasesPage } from './unfoldapi.js'
		import Drawer from './components/Drawer.js'
		import PageHeader from './components/PageHeader.js'
		import SimpleSelect from './components/SimpleSelect.js'

		const app = createApp({
			components: {
				'page-drawer': Drawer,
				'page-header': PageHeader,
				'simple-select': SimpleSelect,
			},
			setup() {
				const mainMenuVisible = ref(false);
				const sectionSelected = ref(0);
				const subSectionSelected = ref(-1);
				const sortingField = ref(0);
				const sortDescending = ref(false);
				const nameFilter = ref("");
				const releasesGroups = ref([]);
				const releasesCount = ref(0);
				let relasesInGroup = 1;
				const widthItem = 480;

				const sections = [
					{
						title: "Все релизы",
						id: 0
					},
					{
						title: "Избранное",
						id: 1
					},
					{
						title: "Уведомления",
						id: 2
					},
					{
						title: "Расписание",
						id: 3
					},
					{
						title: "Алфавит",
						id: 4
					},
					{
						title: "История",
						id: 6
					},
					{
						title: "Группы",
						id: 5
					},
					{
						title: "Просмотр",
						id: 7
					},
					{
						title: "Подборки",
						id: 8
					}
				];

				const historySections = [
					{
						title: "Не выбрано",
						id: -1
					},
					{
						title: "История",
						id: 40
					},
					{
						title: "История просмотра",
						id: 41
					}
				];

				const seenMarkSections = [
					{
						title: "Не выбрано",
						id: -1
					},
					{
						title: "Просмотренные",
						id: 42
					},
					{
						title: "Просматриваемые",
						id: 43
					},
					{
						title: "Не просмотренные",
						id: 44
					},
					{
						title: "Скрытые релизы",
						id: 45
					},
					{
						title: "Просмотренные до конца",
						id: 46
					},
					{
						title: "Просмотренные не до конца",
						id: 47
					}
				];

				const setsSections = [
					{
						title: "Не выбрано",
						id: -1
					},
					{
						title: "Фильмы",
						id: 48
					},
					{
						title: "Самые популярные",
						id: 49
					},
					{
						title: "Часть серии",
						id: 50
					},
					{
						title: "Завершенные",
						id: 51
					},
					{
						title: "Популярное в текущем году",
						id: 52
					},
					{
						title: "В кинозале",
						id: 53
					},
					{
						title: "Текущий сезон",
						id: 54
					},
					{
						title: "Не текущий сезон",
						id: 55
					}
				];

				const sortingFields = [
					{
						title: "Обновлению",
						id: 0
					},
					{
						title: "Расписанию",
						id: 1
					},
					{
						title: "Имени",
						id: 2
					},
					{
						title: "Году",
						id: 3
					},
					{
						title: "Рейтингу",
						id: 4
					},
					{
						title: "Статусу",
						id: 5
					},
					{
						title: "Ориг. имени",
						id: 6
					},
					{
						title: "Истории открытия",
						id: 7
					},
					{
						title: "Истории просмотра",
						id: 8
					},
					{
						title: "Сезону",
						id: 9
					},
					{
						title: "Избранности",
						id: 10
					},
					{
						title: "Просмотренности",
						id: 11
					},
					{
						title: "Части серии",
						id: 12
					}
				];

				function recalculateReleaseGroups(releases) {
					relasesInGroup = Math.floor(window.innerWidth / widthItem);
					if (relasesInGroup === 0) relasesInGroup = 1;
					releasesCount.value = releases.length;

					const result = [];
					let iterator = 0;
					let currentGroup = [];
					for (const release of releases) {
						if (iterator === relasesInGroup) {
							result.push(currentGroup);
							currentGroup = [];
							iterator = 0;
						}
						currentGroup.push(release);
						iterator++;
					}
					releases.push(currentGroup);

					releasesGroups.value = releases;
				}

				async function loadReleases() {
					const releases = await getRelasesPage(
						{
							filter: "",
							type: "",
							description: "",
							voices: [],
							voicesOr: null,
							genres: [],
							genresOr: null,
							years: [],
							yearsOr: null,
							seasons: [],
							seasonsOr: null,
							statuses: [],
							statusesOr: null,
							scheduleDays: [],
							scheduleDaysOr: null,
							inFavorites: null,
							partOfReleases: null,
							seenStatus: null,
							sortingField: null,
							sortingDescending: null,
							section: 0
						}
					);
					if (!releases) {
						// Show empty message
						return;
					}

					recalculateReleaseGroups(releases);
				}

				loadReleases();

				return {
					mainMenuVisible,
					sectionSelected,
					sections,
					historySections,
					setsSections,
					seenMarkSections,
					sortingFields,
					sortingField,
					sortDescending,
					nameFilter
				}
			}
		});

		app.mount('#app')
	</script>
</body>
</html>