<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="color-scheme" content="light dark">
	<title>Torrent клиент</title>
	<link rel="icon" type="image/x-icon" href="/static/icons/logo/default.svg">
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="mainmenu.css">
	<link rel="stylesheet" href="pagestructure.css">
	<link rel="stylesheet" href="styles/releaselist.css">
	<link rel="stylesheet" href="styles/torrent.css">
	<script type="importmap">
		{
		  "imports": {
			"vue": "./vue.js"
		  }
		}
	</script>	
</head>
<body>
	<div id="app">
		<page-header v-model:main-menu-visible="mainMenuVisible" title="Torrent клиент">
		</page-header>

		<div class="page-content-with-panel">
			<div class="left-panel flex-column">
				<div v-if="selectedReleases.length" class="simple-panel-icon-button simple-popup-container" title="Настройка страницы Torrent клиент">
					<div class="full-width-height flex-row flex-base-center flex-other-center">
						<img :src="'/static/icons/mainmenu/torrent.svg'" width="30" height="30" />
					</div>
					<div class="simple-popup-box torrents-rightmenu">
						<div class="torrents-rightmenu-remove flex-column">
							<a class="default-link" @click.prevent="removeSelectedWithFiles()" href="">Удалить вместе с файлами</a>
							<a class="default-link" @click.prevent="removeSelectedWithoutFiles()" href="">Удалить без файлов</a>
						</div>
					</div>
				</div>
				<releases-sidebar-actions
					:selected-releases="selectedReleases"
					:releases-list="releasesList"
					:filter-model="filterModel">
				</releases-sidebar-actions>
				<releases-side-bar-search
					:releases-list="releasesList"
					:filter-model="filterModel">
				</releases-side-bar-search>
				<div class="simple-panel-icon-button simple-popup-container" title="Настройка страницы Torrent клиент">
					<div class="full-width-height flex-row flex-base-center flex-other-center">
						<img :src="'/static/icons/commonbuttons/settings.svg'" width="30" height="30" />
					</div>
					<div v-if="releasesList" class="simple-popup-box torrents-rightmenu">
						<div class="torrents-rightmenu-settings flex-column gap-8">
							<div>Использовать внутренний torrent клиент:</div>
							<simple-switch v-model:state="releasesList.torrentSettings.useInternalTorrectClient" @changed="savePageSettings()">
							</simple-switch>
							<div>
								Предпочтение качества торрента (сверху вниз):<br>
								<span class="torrents-disclaimer">тащите мышкой для изменения</span>
							</div>
							<div class="torrents-sortable-quality-container">
								<sortable-list v-model:options="releasesList.torrentSettings.codecPrefference" @changed="savePageSettings()">
								</sortable-list>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="right-content">
				<releases-toolbar :filter-model="filterModel" :releases-list="releasesList">
				</releases-toolbar>
				<releases-list
					v-model:allfilters="filterModel"
					v-model:releasesselected="selectedReleases"
					v-model:backtotopvisible="backToTopVisible"
					:sourcepage="'torrent'"
					:item-height="290"
					@openrelease="openReleaseCardByLink($event);"
					ref="releasesList">
					<template v-slot:release="{ release, isSelected, inCinemahall, inFavorites, seensCount }">
						<div class="releaseslist-release-item" :class="{'releaseslist-release-item-selected': isSelected }">
							<img class="poster" :src="'https://anilibria.top' + release.poster" loading="lazy"/>
							<div class="information">
								<span class="header-text" style="margin-top: 10px;">{{ release.title }}</span>
								<span class="normal-text">{{ release.status }} {{ release.season ? '- ' + release.season : '' }} {{ release.year }}</span>
								<span class="normal-text">{{ release.type }} {{ release.series }} {{ release.genres ? '- ' + release.genres.join(', ') : '' }}</span>
								<span class="normal-text"><b>Команда:</b> {{ release.voices ? release.voices.join(', ') : '' }}</span>
								<span class="digit-text flex-row flex-base-center gap-4">
								<img
									class="clickable-image"
									src="/static/icons/mainmenu/torrent.svg"
									width="20"
									height="20"
									loading="lazy"
									title="Открыть торрент на просмотр в видеоплеере"
									@click.stop="openTorrentInVideoplayer(release.id)"
								/>
								<span>{{ showTorrentSeries(release.id, seensCount) }}</span>
								<img src="/static/icons/releases/favorite.svg" width="20" height="20" loading="lazy" />
								<span>{{ release.rating }}</span>
								<img v-if="release.publishDay" src="/static/icons/releases/scheduleday.svg" width="20" height="20" loading="lazy" />
								<span v-if="release.publishDay">{{ getPublishDay(release.publishDay) }}</span>
								</span>
								<div class="flex-1"></div>
								<div class="flex-row flex-base-center">
									<span v-if="inFavorites || inCinemahall" class="header-text" style="margin-bottom: 4px;">
										{{ 'В ' + (inFavorites ? 'Избранном' : '') + (inCinemahall ? (inFavorites ? ' и ' : '') + 'Кинозале' : '') }}
									</span>
									<div class="flex-1"></div>
									<img
										v-if="isSelected"
										style="margin-right: 4px; margin-bottom: 4px;"
										src="/static/icons/releases/selecteditem.svg"
										width="24"
										height="24"
										loading="lazy"
									/>
								</div>
							</div>
						</div>
					</template>
				</releases-list>
			</div>			
		</div>

		<div v-if="releasesList" :class="{'torrents-selection-helper': true, 'torrents-pulse-animation': releasesList.selectionModeEnabled }">
			{{ releasesList.selectionModeEnabled ? 'Нажмите ЛКМ для выделения релизов, ПКМ для выхода' : 'Нажмите ПКМ для перехода в режим выделения' }}
		</div>
		<div v-if="backToTopVisible" class="torrents-backtotop-helper flex-row flex-base-center flex-other-center" @click="backToTop()">
			<img src="/static/icons/commonbuttons/arrowup.svg" width="20" height="20" />
		</div>

		<page-drawer v-model:main-menu-visible="mainMenuVisible">
		</page-drawer>
	</div>

	<script type="module">
		import { createApp, ref, useTemplateRef, watch, onMounted } from 'vue'
		import {
			getPageSettings, saveSettings, getUserMarks, getCinemahallReleases,
			getReleaseDictionaries, getRelaseTorrentsByFilter, getActiveTorrents,
			removeTorrents
		} from './unfoldapi.js'
		import Drawer from './components/Drawer.js'
		import PageHeader from './components/PageHeader.js'
		import SimpleSwitch from './components/SimpleSwitch.js'
		import SimpleSelect from './components/SimpleSelect.js'
		import SortableList from './components/SortableList.js'
		import ReleasesList from './components/ReleasesList.js'
		import ReleasesToolBar from './components/ReleasesToolBar.js'
		import ReleasesSideBarActions from './components/ReleasesSideBarActions.js'
		import ReleasesSideBarSearch from './components/ReleasesSideBarSearch.js'
		import { getPublishDay } from './releaseDictionaries.js'

		const app = createApp({
			components: {
				'page-drawer': Drawer,
				'page-header': PageHeader,
				'simple-switch': SimpleSwitch,
				'simple-select': SimpleSelect,
				'sortable-list': SortableList,
				'releases-list': ReleasesList,
				'releases-toolbar': ReleasesToolBar,
				'releases-sidebar-actions': ReleasesSideBarActions,
				'releases-side-bar-search': ReleasesSideBarSearch
			},
			setup() {
				const mainMenuVisible = ref(false);
				const selectedReleases = ref([]);
				const activeTorrents = ref({});
				const backToTopVisible = ref(false);
				const filterModel = ref({});
				const releasesList = useTemplateRef('releasesList');

				async function savePageSettings() {
					releasesList.value.saveTorrentsSettings();
				}

				async function loadData() {
					activeTorrents.value = await getActiveTorrents();

					setInterval(() => refreshTorrents(), 8000);
				}

				async function refreshTorrents() {
					activeTorrents.value = await getActiveTorrents();
				}

				function backToTop() {
					releasesList.value.backToTop();
				}

				function showTorrentSeries(id, seenCount) {
					const torrent = activeTorrents.value[id];
					const torrentVideos = torrent.countVideos;
					const downloadedVideos = torrent.countDownloaded;
					let seensVideos = seenCount;
					if (seensVideos > downloadedVideos) seensVideos = downloadedVideos;
					
					const torrentDisplay = torrentVideos != downloadedVideos ? `${downloadedVideos} из ${torrentVideos}` : `${downloadedVideos}`;
					const seensDisplay = seensVideos > 0 ? `/${seensVideos}` : '';
					return `${torrentDisplay}${seensDisplay}`;
				}

				function openTorrentInVideoplayer(releaseId) {
					if (settings.value.openLinkMode) {
						window.open("videoplayer.html?mode=downloadedtorrent&id=" + releaseId, '_blank');
					} else {
						window.location.href = 'videoplayer.html?mode=downloadedtorrent&id=' + releaseId;
					}					
				}

				function openReleaseCardByLink(id) {
					if (settings.value.openLinkMode) {
						window.open("releasecard.html?id=" + id, '_blank');
					} else {
						window.location.href = "releasecard.html?id=" + id;
					}
				}				

				function removeSelectedWithFiles() {
					if (!selectedReleases.value.length) return;

					removeTorrents(selectedReleases.value, true);

					releasesList.value.disableSelectionMode();
				}
				function removeSelectedWithoutFiles() {
					if (!selectedReleases.value.length) return;

					removeTorrents(selectedReleases.value, false);

					releasesList.value.disableSelectionMode();
				}

				loadData();

				return {
					mainMenuVisible,
					getPublishDay,
					selectedReleases,
					backToTopVisible,
					filterModel,
					releasesList,
					openTorrentInVideoplayer,
					savePageSettings,
					removeSelectedWithFiles,
					removeSelectedWithoutFiles,
					backToTop,
					showTorrentSeries,
					openReleaseCardByLink
				}
			}
		});

		app.mount('#app')
	</script>
</body>
</html>