<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="color-scheme" content="light dark">
	<title>Видеоплеер</title>
	<link rel="icon" type="image/x-icon" href="/static/icons/logo/default.svg">
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="mainmenu.css">
	<link rel="stylesheet" href="pagestructure.css">
	<link rel="stylesheet" href="libs/plyr.css">
	<link rel="stylesheet" href="styles/videoplayer.css">
	<script src="libs/hls.js"></script>
	<script src="libs/plyr.js"></script>
</head>
<body>
	<div id="app">
		<page-header v-model:main-menu-visible="mainMenuVisible" title="Видеоплеер">
		</page-header>

		<div class="page-content-with-panel">
			<div class="left-panel flex-column">
				<div class="simple-panel-icon-button simple-popup-container"
					 title="Настройка страницы Видеоплеер">
					<div class="full-width-height flex-row flex-base-center flex-other-center">
						<img :src="'/static/icons/videoplayer/quality.svg'" width="30" height="30" />
					</div>
					<div class="simple-popup-box videoplayer-rightmenu">
						<div class="videoplayer-rightmenu-quality flex-column">
							Порядок сверху вниз
							<div class="flex-row flex-base-center quality-line" v-for="(quality, index) in settings.prefferedQuality" :key="quality">
								<div class="quality-title">
									<span>{{ quality.replace("hls", "") }}</span>
								</div>
								<div class="flex-row flex-base-center little-arrows">
									<div v-if="index > 0" class="little-arrow flex-row flex-base-center flex-other-center" @click="moveUp(quality)">
										<span>&#8679;</span>
									</div>
									<div v-if="index < 2" class="little-arrow flex-row flex-base-center flex-other-center" @click="moveDown(quality)">
										<span>&#8681;</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="simple-panel-icon-button"
					 title="Настройка страницы Видеоплеер">
					<img :src="'/static/icons/commonbuttons/settings.svg'" width="30" height="30" />
				</div>
			</div>
			<div class="right-content">
				<div class="videoplayer-container">
					<video ref="video" autoplay muted playsinline controls :data-poster="poster">
					</video>
				</div>
				<div class="videoplayer-playlist-container">
					<div v-for="(episode, index) in episodes" :key="index">
						<div class="playlist-item" :class="{'playlist-selected-item': episode === selectedEpisode}" @click.prevent="openEpisodeFromList(episode)">
							Серия {{ episode.sortOrder + 1 }}
						</div>
					</div>
				</div>
			</div>
		</div>

		<page-drawer v-model:main-menu-visible="mainMenuVisible">
		</page-drawer>
	</div>

	<script type="module">
		import { createApp, ref, onMounted, useTemplateRef } from './vue.global.js'
		import { getReleaseEpisodes, getPageSettings, saveSettings } from './unfoldapi.js'
		import Drawer from './components/Drawer.js'
		import PageHeader from './components/PageHeader.js'

		const app = createApp({
			components: {
				'page-drawer': Drawer,
				'page-header': PageHeader
			},
			setup() {
				const mainMenuVisible = ref(false);
				const video = useTemplateRef('video');
				let hlsSource = ref(null);
				const hlsSupported = ref(Hls.isSupported());
				const episodes = ref([]);
				const selectedEpisode = ref();
				const selectedQuality = ref();
				const poster = ref(null);
				const settings = ref({prefferedQuality: ['hls1080', 'hls720', 'hls480']})

				async function getSource() {
					const urlParams = new URLSearchParams(window.location.search);
					const mode = urlParams.get('mode');
					if (mode === `release`) {
						const id = urlParams.get('id');
						episodes.value = await getReleaseEpisodes(parseInt(id));
						const episode = urlParams.get('episode');
						if (episode) {
							selectedEpisode.value = episode;
						} else {
							selectedEpisode.value = episodes.value[0].id;
						}
						//TODO: open last episode in release
					}
				}

				function openEpisode(id) {
					const episode = episodes.value.find(a => a.id === id);
					selectedEpisode.value = episode;

					for (const quality of settings.value.prefferedQuality) {
						if (episode[quality]) {
							selectedQuality.value = quality;
							return episode[quality];
						}
					}
				}

				async function moveUp(quality) {
					const array = [...settings.value.prefferedQuality];
					const index = array.indexOf(quality);
					if (index === 0) return;
					const movedIndex = index - 1;

					var oldValue = array[movedIndex];
					array[index] = oldValue;
					array[movedIndex] = quality;
					settings.value.prefferedQuality = array;

					await saveVideoPlayerSettings();
				}

				async function moveDown(quality) {
					const array = [...settings.value.prefferedQuality];
					const index = array.indexOf(quality);
					if (index === 2) return;
					const movedIndex = index + 1;

					var oldValue = array[movedIndex];
					array[index] = oldValue;
					array[movedIndex] = quality;
					settings.value.prefferedQuality = array;

					await saveVideoPlayerSettings();
				}

				async function saveVideoPlayerSettings() {
					await saveSettings('videoplayer', settings.value);
				}

				function openNextSeria() {
					const episodes = episodes.value;
					const index = episodes.findIndex(a => a.id === selectedEpisode.value.id);
					if (index >= episodes.length) return;

					selectedEpisode.value = episodes[index + 1];
					
					adjustVideoSource(openEpisode(selectedEpisode.value));
				}

				function openPreviousSeria() {
					const episodes = episodes.value;
					const index = episodes.findIndex(a => a.id === selectedEpisode.value.id);
					if (index === 0) return;

					selectedEpisode.value = episodes[index - 1];
					
					adjustVideoSource(openEpisode(selectedEpisode.value));
				}

				function openEpisodeFromList(episode) {
					adjustVideoSource(openEpisode(episode.id));
				}

				function customControls() {
					return `
<div class="plyr__controls">
	<div class="flex-col full-width">
		<div class="flex-row flex-base-center">
			<div class="plyr__controls__item plyr__time--current plyr__time" aria-label="Current time" role="timer"></div>
			<span>из</span>
			<div class="plyr__controls__item plyr__time--duration plyr__time" aria-label="Duration" role="timer"></div>
			<div class="plyr__controls__item plyr__progress__container">
				<div class="plyr__progress"><input data-plyr="seek" type="range" min="0" max="100" step="0.01" value="0" autocomplete="off" role="slider" aria-label="Seek" aria-valuemin="0" aria-valuemax="1413.0785290000006" aria-valuenow="0" id="plyr-seek-9030" aria-valuetext="00:00 of 00:00" seek-value="82.09820764752307" style="--value: 0%;">
					<progress class="plyr__progress__buffer" min="0" max="100" value="0" role="progressbar" aria-hidden="true">% буффера</progress>
					<span class="plyr__tooltip" style="left: 86.1976%;"></span>
				</div>
			</div>
		</div>
		<div class="flex-row flex-base-center">
			<div class="plyr__controls__item plyr__volume">
				<button type="button" class="plyr__control" data-plyr="mute" aria-pressed="false">
					<svg class="icon--pressed" aria-hidden="true" focusable="false">
					<use xlink:href="#plyr-muted"></use>
					</svg>
					<svg class="icon--not-pressed" aria-hidden="true" focusable="false">
					<use xlink:href="#plyr-volume"></use>
					</svg>
					<span class="label--pressed plyr__sr-only">Unmute</span>
					<span class="label--not-pressed plyr__sr-only">Mute</span>
				</button>
				<input
					data-plyr="volume"
					type="range" min="0" max="1" step="0.05" value="1" autocomplete="off" role="slider"
					aria-label="Громкость"
					aria-valuemin="0" aria-valuemax="100" aria-valuenow="100" id="plyr-volume-9030"
					aria-valuetext="100.0%" style="--value: 100%;"
				>
			</div>
			<div class="flex-1 flex-row flex-base-center flex-other-center">
				<div>
					<button class="plyr__controls__item plyr__control" type="button" data-plyr="rewind" aria-pressed="false" title="Перемотать назад">
						<div class="flex-row flex-base-center flex-other-center">
							<img src='/static/icons/videoplayer/leftjump.svg' width=18 height=18 />
						</div>
					</button>
					<button id="previousSeriaButton" class="plyr__controls__item plyr__control" type="button" aria-pressed="false" title="Перейти на предыдущую серию">
						<svg aria-hidden="true" focusable="false">
							<use xlink:href="#plyr-rewind"></use>
						</svg>
					</button>
					<button class="plyr__controls__item plyr__control" type="button" data-plyr="play" aria-pressed="false" aria-label="Play">
						<svg class="icon--pressed" aria-hidden="true" focusable="false">
							<use xlink:href="#plyr-pause"></use>
						</svg>
						<svg class="icon--not-pressed" aria-hidden="true" focusable="false">
							<use xlink:href="#plyr-play"></use>
						</svg>
					</button>
					<button id="nextSeriaButton" class="plyr__controls__item plyr__control" type="button" aria-pressed="false" title="Перейти на следующую серию">
						<svg aria-hidden="true" focusable="false">
							<use xlink:href="#plyr-fast-forward"></use>
						</svg>
					</button>
					<button class="plyr__controls__item plyr__control" type="button" data-plyr="fast-forward" aria-pressed="false" title="Перемотать вперед">
						<div class="flex-row flex-base-center flex-other-center">
							<img src='/static/icons/videoplayer/rightjump.svg' width=18 height=18 />
						</div>
					</button>
				</div>
			</div>
			<div>
				<button class="plyr__controls__item plyr__control" type="button" data-plyr="captions" aria-pressed="false">
					<svg class="icon--pressed" aria-hidden="true" focusable="false">
						<use xlink:href="#plyr-captions-on"></use>
					</svg>
					<svg class="icon--not-pressed" aria-hidden="true" focusable="false">
						<use xlink:href="#plyr-captions-off"></use>
					</svg>
				</button>
				<button class="plyr__controls__item plyr__control" type="button" data-plyr="pip" aria-pressed="false">
					<svg aria-hidden="true" focusable="false">
						<use xlink:href="#plyr-pip"></use>
					</svg>
					<span class="plyr__sr-only">PIP</span>
				</button>
				<button class="plyr__controls__item plyr__control" type="button" data-plyr="fullscreen" aria-pressed="false" title="Полноэкранный режим">
					<svg class="icon--pressed" aria-hidden="true" focusable="false">
						<use xlink:href="#plyr-exit-fullscreen"></use>
					</svg>
					<svg class="icon--not-pressed" aria-hidden="true" focusable="false">
						<use xlink:href="#plyr-enter-fullscreen"></use>
					</svg>
				</button>
			</div>
		</div>
	</div>
</div>
						`;
				}

				function adjustVideoSource(source) {
					const hls = new Hls();
					hls.loadSource(source);
					hls.attachMedia(video.value);
					hls.subtitleDisplay = true;
					hlsSource.value = hls;				
				} 

				onMounted(async () => {
					if (!hlsSupported.value) {
						//TODO: show message
						return;
					}
					settings.value = await getPageSettings('videoplayer');
					await getSource();

					const player = new Plyr(video.value, {
						controls: customControls()
					});
					player.on('languagechange', () => {
						if (!hlsSource.value) return;

						setTimeout(() => hlsSource.value.subtitleTrack = player.currentTrack, 50);
					});
					player.on('controlsshown', (event) => {
						console.log('The player controls are now visible!');
					});

					const videoSource = openEpisode(selectedEpisode.value);
					adjustVideoSource(videoSource);

					const nextSeriaButton = document.getElementById('nextSeriaButton');
					const previousSeriaButton = document.getElementById('previousSeriaButton');
					nextSeriaButton.addEventListener('click', openNextSeria);
					previousSeriaButton.addEventListener('click', openPreviousSeria);
				});

				return {
					mainMenuVisible,
					hlsSupported,
					episodes,
					poster,
					moveUp,
					moveDown,
					settings,
					selectedEpisode,
					openEpisodeFromList
				}
			}
		});

		app.mount('#app')
	</script>
</body>
</html>