<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="color-scheme" content="light dark">
	<title>Видеоплеер</title>
	<link rel="icon" type="image/x-icon" href="/static/icons/logo/default.svg">
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="mainmenu.css">
	<link rel="stylesheet" href="pagestructure.css">
	<link rel="stylesheet" href="libs/plyr.css">
	<link rel="stylesheet" href="styles/videoplayer.css">
	<script src="libs/hls.js"></script>
	<script src="libs/plyr.js"></script>
</head>
<body>
	<div id="app">
		<page-header v-model:main-menu-visible="mainMenuVisible" title="Видеоплеер">
		</page-header>

		<div class="page-content-with-panel">
			<div class="left-panel flex-column">
				<div class="simple-panel-icon-button simple-popup-container"
					 title="Настройка страницы Видеоплеер">
					<div class="full-width-height flex-row flex-base-center flex-other-center">
						<img :src="'/static/icons/videoplayer/quality.svg'" width="30" height="30" />
					</div>
					<div class="simple-popup-box videoplayer-rightmenu">
						<div class="videoplayer-rightmenu-quality flex-column">
							Порядок сверху вниз
							<div class="flex-row flex-base-center quality-line" v-for="(quality, index) in settings.prefferedQuality" :key="quality">
								<div class="quality-title">
									<span>{{ quality.replace("hls", "") }}</span>
								</div>
								<div class="flex-row flex-base-center little-arrows">
									<div v-if="index > 0" class="little-arrow flex-row flex-base-center flex-other-center" @click="moveUp(quality)">
										<span>&#8679;</span>
									</div>
									<div v-if="index < 2" class="little-arrow flex-row flex-base-center flex-other-center" @click="moveDown(quality)">
										<span>&#8681;</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="simple-panel-icon-button simple-popup-container"
					 title="Настройка страницы Видеоплеер">
					<div class="full-width-height flex-row flex-base-center flex-other-center">
						<img :src="'/static/icons/commonbuttons/settings.svg'" width="30" height="30" />
					</div>
					<div class="simple-popup-box videoplayer-rightmenu">
						<div class="videoplayer-rightmenu-settings flex-column gap-8">
							<span>Автопереход между сериями</span>
							<simple-switch v-model:state="settings.autoNextOpen" @changed="saveVideoPlayerSettings()">
							</simple-switch>
							<span>Автопропуск опенинга</span>
							<simple-switch v-model:state="settings.autoSkipOpening" @changed="saveVideoPlayerSettings()">
							</simple-switch>
							<span>Автопропуск эндинга</span>
							<simple-switch v-model:state="settings.autoSkipEnding" @changed="saveVideoPlayerSettings()">
							</simple-switch>
							<span>Показывать постер релиза</span>
							<simple-switch v-model:state="settings.showReleasePoster" @changed="saveVideoPlayerSettings()">
							</simple-switch>
						</div>
					</div>
				</div>
			</div>
			<div class="right-content">
				<div class="videoplayer-container">
					<video ref="video" autoplay muted playsinline controls :data-poster="poster">
					</video>
					<div class="videoplayer-playlist-container" :class="{'videoplayer-playlist-container-reverse-animation': playListVisible}">
						<div v-for="(episode, index) in episodes" :key="index">
							<div class="flex-row flex-base-center playlist-item" :class="{'playlist-selected-item': episode === selectedEpisode}" @click.prevent="openEpisodeFromList(episode)" :title="episode.name">
								<span class="flex-1">
									Серия {{ episode.sortOrder + 1 }}
								</span>
								<div class="flex-row flex-all-center videoplayer-seen-mark" @click.stop="toggleSeenMark(episode.id)">
									<img
										:src="'/static/icons/videoplayer/' + (seenMarks.includes(episode.id) ? 'seenmarkselected.svg' : 'seenmark.svg') "
										width="20"
										height="20"
									/>
								</div>
							</div>
						</div>
					</div>
					<div v-if="settings.showReleasePoster && playListVisible" class="videoplayer-release-poster-container">
						<img class="poster" :src="poster" />
					</div>
					<div v-if="showOpening || showEnding" class="videoplayer-opening-ending-container" @click="skipOpeningOrEnding()">
						<span v-if="showOpening">Пропустить опенинг</span>
						<span v-if="showEnding">Пропустить эндинг</span>
					</div>
				</div>
			</div>
		</div>

		<page-drawer v-model:main-menu-visible="mainMenuVisible">
		</page-drawer>
	</div>

	<script type="module">
		import { createApp, ref, onMounted, useTemplateRef } from './vue.js'
		import {
			getReleaseEpisodes, getPageSettings, saveSettings, watchVideoRelease,
			addSeenMark, removeSeenMark, getSeenEpisodes, getReleasePosters,
			getWatchVideoRelease, getTorrentEpisodes
		} from './unfoldapi.js'
		import Drawer from './components/Drawer.js'
		import PageHeader from './components/PageHeader.js'
		import SimpleSwitch from './components/SimpleSwitch.js'

		const app = createApp({
			components: {
				'page-drawer': Drawer,
				'page-header': PageHeader,
				'simple-switch': SimpleSwitch
			},
			setup() {
				const mainMenuVisible = ref(false);
				const video = useTemplateRef('video');
				let hlsSource = ref(null);
				let videoPlayer = null;
				const hlsSupported = ref(Hls.isSupported());
				const episodes = ref([]);
				const releaseIds = ref([]);
				const selectedReleaseId = ref(-1);
				const releasePosters = ref([]);
				const selectedEpisode = ref(null);
				const selectedQuality = ref();
				const poster = ref('/static/backgrounds/emptyposter.png');
				const playListVisible = ref(true);
				const showOpening = ref(false);
				const showEnding = ref(false);
				const skipStepTimer = ref(0);
				const watchRelease = ref(null);
				let needUseHls = false;
				const settings = ref({
					prefferedQuality: ['hls1080', 'hls720', 'hls480'],
					autoNextOpen: false,
					autoSkipOpening: false,
					autoSkipEnding: false,
					showReleasePoster: false
				});
				const seenMarks = ref([])

				async function getSource() {
					const urlParams = new URLSearchParams(window.location.search);
					const mode = urlParams.get('mode');
					if (mode === `release`) {
						const id = urlParams.get('id');
						const idInt = parseInt(id);
						releaseIds.value = [idInt];
						episodes.value = await getReleaseEpisodes(idInt);
						seenMarks.value = await getSeenEpisodes([idInt]);
						loadEpisodeAndInnerState(urlParams.get('episode'), idInt);
						needUseHls = true;
					
						return;
					}
					if (mode === `downloadedtorrent`) {
						const id = urlParams.get('id');
						const idInt = parseInt(id);
						releaseIds.value = [idInt];
						episodes.value = await getTorrentEpisodes(idInt);
						seenMarks.value = await getSeenEpisodes([idInt]);
						loadEpisodeAndInnerState(urlParams.get('episode'), idInt);
					}
					if (mode === `onlinetorrent`) {
						//TODO: setup online torrent
					}
					
					//TODO: open latest opened release
				}

				async function loadEpisodeAndInnerState(episode, idInt) {
					if (episode) {
						selectedEpisode.value = episodes.value.find(a => a.id === episode);
					} else {
						const lastFindEpisode = findFirstNotSeenEpisode();
						if (lastFindEpisode) {
							selectedEpisode.value = lastFindEpisode;
						} else {
							selectedEpisode.value = episodes.value[0];
						}
					}

					watchRelease.value = await getWatchVideoRelease(idInt);
					
					releasePosters.value = await getReleasePosters([idInt]);
					const releasePoster = releasePosters.value.find(a => a.id === idInt).poster;
					poster.value = releasePoster ? 'https://anilibria.top' + releasePoster : '/static/backgrounds/emptyposter.png';
					selectedReleaseId.value = idInt;
				}

				function findFirstNotSeenEpisode() {
					const list = episodes.value;
					let latest = null;

					for (const item of list) {
						latest = item;
						if (seenMarks.value.includes(item.id)) continue;

						return item;
					}

					return latest;
				}

				function openEpisode(episode) {
					for (const quality of settings.value.prefferedQuality) {
						if (episode[quality]) {
							selectedQuality.value = quality;
							return episode[quality];
						}
					}
				}

				async function moveUp(quality) {
					const array = [...settings.value.prefferedQuality];
					const index = array.indexOf(quality);
					if (index === 0) return;
					const movedIndex = index - 1;

					var oldValue = array[movedIndex];
					array[index] = oldValue;
					array[movedIndex] = quality;
					settings.value.prefferedQuality = array;

					await saveVideoPlayerSettings();
				}

				async function moveDown(quality) {
					const array = [...settings.value.prefferedQuality];
					const index = array.indexOf(quality);
					if (index === 2) return;
					const movedIndex = index + 1;

					var oldValue = array[movedIndex];
					array[index] = oldValue;
					array[movedIndex] = quality;
					settings.value.prefferedQuality = array;

					await saveVideoPlayerSettings();
				}

				async function saveVideoPlayerSettings() {
					await saveSettings('videoplayer', settings.value);
				}

				function openNextSeria() {
					const episodes = window.vueApp.episodes;
					const index = episodes.findIndex(a => a.id === window.vueApp.selectedEpisode.id);
					if (index >= episodes.length - 1) return;

					window.vueApp.selectedEpisode = episodes[index + 1];
					
					adjustVideoSource(openEpisode(window.vueApp.selectedEpisode));
				}

				function openPreviousSeria() {
					const episodes = window.vueApp.episodes;
					const index = episodes.findIndex(a => a.id === window.vueApp.selectedEpisode.id);
					if (index === 0) return;

					window.vueApp.selectedEpisode = episodes[index - 1];
					
					adjustVideoSource(openEpisode(window.vueApp.selectedEpisode));
				}

				function openEpisodeFromList(episode) {
					selectedEpisode.value = episode;
					adjustVideoSource(openEpisode(episode));
				}

				function customControls() {
					return `
<div class="plyr__controls">
	<div class="flex-col full-width">
		<div class="flex-row flex-base-center">
			<div class="plyr__controls__item plyr__time--current plyr__time" aria-label="Current time" role="timer"></div>
			<span>из</span>
			<div class="plyr__controls__item plyr__time--duration plyr__time" aria-label="Duration" role="timer"></div>
			<div class="plyr__controls__item plyr__progress__container">
				<div class="plyr__progress"><input data-plyr="seek" type="range" min="0" max="100" step="0.01" value="0" autocomplete="off" role="slider" aria-label="Seek" aria-valuemin="0" aria-valuemax="1413.0785290000006" aria-valuenow="0" id="plyr-seek-9030" aria-valuetext="00:00 of 00:00" seek-value="82.09820764752307" style="--value: 0%;">
					<progress class="plyr__progress__buffer" min="0" max="100" value="0" role="progressbar" aria-hidden="true">% буффера</progress>
					<span class="plyr__tooltip" style="left: 86.1976%;"></span>
				</div>
			</div>
		</div>
		<div class="flex-row flex-base-center">
			<div class="plyr__controls__item plyr__volume">
				<button type="button" class="plyr__control" data-plyr="mute" aria-pressed="false">
					<svg class="icon--pressed" aria-hidden="true" focusable="false">
					<use xlink:href="#plyr-muted"></use>
					</svg>
					<svg class="icon--not-pressed" aria-hidden="true" focusable="false">
					<use xlink:href="#plyr-volume"></use>
					</svg>
					<span class="label--pressed plyr__sr-only">Unmute</span>
					<span class="label--not-pressed plyr__sr-only">Mute</span>
				</button>
				<input
					data-plyr="volume"
					type="range" min="0" max="1" step="0.05" value="1" autocomplete="off" role="slider"
					aria-label="Громкость"
					aria-valuemin="0" aria-valuemax="100" aria-valuenow="100" id="plyr-volume-9030"
					aria-valuetext="100.0%" style="--value: 100%;"
				>
			</div>
			<div class="flex-1 flex-row flex-base-center flex-other-center">
				<div>
					<button class="plyr__controls__item plyr__control" type="button" data-plyr="rewind" aria-pressed="false" title="Перемотать назад">
						<div class="flex-row flex-base-center flex-other-center">
							<img src='/static/icons/videoplayer/leftjump.svg' width=18 height=18 />
						</div>
					</button>
					<button id="previousSeriaButton" class="plyr__controls__item plyr__control" type="button" aria-pressed="false" title="Перейти на предыдущую серию">
						<svg aria-hidden="true" focusable="false">
							<use xlink:href="#plyr-rewind"></use>
						</svg>
					</button>
					<button class="plyr__controls__item plyr__control" type="button" data-plyr="play" aria-pressed="false" aria-label="Play">
						<svg class="icon--pressed" aria-hidden="true" focusable="false">
							<use xlink:href="#plyr-pause"></use>
						</svg>
						<svg class="icon--not-pressed" aria-hidden="true" focusable="false">
							<use xlink:href="#plyr-play"></use>
						</svg>
					</button>
					<button id="nextSeriaButton" class="plyr__controls__item plyr__control" type="button" aria-pressed="false" title="Перейти на следующую серию">
						<svg aria-hidden="true" focusable="false">
							<use xlink:href="#plyr-fast-forward"></use>
						</svg>
					</button>
					<button class="plyr__controls__item plyr__control" type="button" data-plyr="fast-forward" aria-pressed="false" title="Перемотать вперед">
						<div class="flex-row flex-base-center flex-other-center">
							<img src='/static/icons/videoplayer/rightjump.svg' width=18 height=18 />
						</div>
					</button>
				</div>
			</div>
			<div>
				<button class="plyr__controls__item plyr__control" type="button" data-plyr="captions" aria-pressed="false">
					<svg class="icon--pressed" aria-hidden="true" focusable="false">
						<use xlink:href="#plyr-captions-on"></use>
					</svg>
					<svg class="icon--not-pressed" aria-hidden="true" focusable="false">
						<use xlink:href="#plyr-captions-off"></use>
					</svg>
				</button>
				<button class="plyr__controls__item plyr__control" type="button" data-plyr="pip" aria-pressed="false">
					<svg aria-hidden="true" focusable="false">
						<use xlink:href="#plyr-pip"></use>
					</svg>
					<span class="plyr__sr-only">PIP</span>
				</button>
				<button class="plyr__controls__item plyr__control" type="button" data-plyr="fullscreen" aria-pressed="false" title="Полноэкранный режим">
					<svg class="icon--pressed" aria-hidden="true" focusable="false">
						<use xlink:href="#plyr-exit-fullscreen"></use>
					</svg>
					<svg class="icon--not-pressed" aria-hidden="true" focusable="false">
						<use xlink:href="#plyr-enter-fullscreen"></use>
					</svg>
				</button>
			</div>
		</div>
	</div>
</div>
						`;
				}

				function adjustVideoSource(source) {
					if (needUseHls) {
						const hls = new Hls();
						hls.loadSource(source);
						hls.attachMedia(video.value);
						hls.subtitleDisplay = true;
						hlsSource.value = hls;
					} else {
						videoPlayer.source = {
							type: 'video',
							sources: [
								{ src: source, type: 'video/x-matroska' }
							]
						};
					}
					
					if (selectedEpisode.value && selectedEpisode.value.openingStart || selectedEpisode.value.endingStart) {
						const pointers = [];
						if (selectedEpisode.value.openingStart) pointers.push({ time: selectedEpisode.value.openingStart, label: 'Опенинг старт' });
						if (selectedEpisode.value.openingEnd) pointers.push({ time: selectedEpisode.value.openingEnd, label: 'Опенинг конец' });
						if (selectedEpisode.value.endingStart) pointers.push({ time: selectedEpisode.value.endingStart, label: 'Эндинг старт' });
						if (selectedEpisode.value.endingEnd) pointers.push({ time: selectedEpisode.value.endingEnd, label: 'Эндинг конец' });

						if (!videoPlayer.config.markers.enabled) videoPlayer.config.markers.enabled = true;
						videoPlayer.config.markers.points = pointers;
					} else {
						videoPlayer.config.markers.points = [];
					}
				} 

				async function toggleSeenMark(id) {
					if (seenMarks.value.includes(id)) {
						await removeSeenMark([id]);
						seenMarks.value = seenMarks.value.filter(a => a !== id);
					} else {
						await addSeenMark([id]);
						seenMarks.value.push(id);
					}
				}

				function skipOpeningOrEnding() {
					if (showOpening.value) {
						videoPlayer.currentTime = selectedEpisode.value.openingEnd;
					}
					if (showEnding.value) {
						openNextSeria();
					}
				}

				onMounted(async () => {
					if (!hlsSupported.value) {
						//TODO: show message
						return;
					}
					settings.value = await getPageSettings('videoplayer');
					await getSource();

					const player = new Plyr(video.value, {
						controls: customControls(),
						fullscreen: {
							enabled: true,
							fallback: true,
							container: '.videoplayer-container'
						}
					});
					player.on('languagechange', () => {
						if (!hlsSource.value) return;

						setTimeout(() => hlsSource.value.subtitleTrack = player.currentTrack, 50);
					});
					player.on('controlsshown', () => {
						playListVisible.value = true;
					});
					player.on('controlshidden', () => {
						playListVisible.value = false;
					});
					player.on('ended', () => {
						if (settings.value.autoNextOpen) openNextSeria();

						if (!seenMarks.value.includes(id)) {
							seenMarks.value.push(id);
							addSeenMark([id]);
						}
					});
					player.on('playing', () => {
						if (!watchRelease.value) return;
						
						if (selectedEpisode.value.id === watchRelease.value.videoId && watchRelease.value.time > 0) {
							videoPlayer.currentTime = watchRelease.value.time;
							watchRelease.value = null;
						}
					});
					player.on('timeupdate', () => {
						if (!window.vueApp.selectedEpisode) return;
						if (!window.vueApp.selectedEpisode.openingStart && !window.vueApp.selectedEpisode.endingStart) return;

						const showOpening = window.vueApp.showOpening;
						const showEnding = window.vueApp.showEnding;
						const currentTime = videoPlayer.currentTime;
						const selectedEpisode = window.vueApp.selectedEpisode;
						const episodeId = selectedEpisode.id;
						const inOpening = currentTime >= selectedEpisode.openingStart && currentTime <= selectedEpisode.openingEnd;
						const inEnding = currentTime >= selectedEpisode.endingStart && currentTime <= selectedEpisode.endingEnd;

						// if we auto skip opening we need to seek on end of opening
						if (settings.value.autoSkipOpening && inOpening) {
							videoPlayer.currentTime = openingEnd;
						}
						// if we not auto skip opening we need to show opening button
						if (!settings.value.autoSkipOpening && !showOpening && inOpening) {
							window.vueApp.showOpening = true;
						}

						// if we not auto skip ending we need to show ending button
						if (!settings.value.autoSkipEnding && !showEnding && inEnding) {
							window.vueApp.showEnding = true;
						}

						// mark as seens if we reach ending
						if (!seenMarks.value.includes(episodeId) && inEnding) {
							seenMarks.value.push(episodeId);
							addSeenMark([episodeId]);
						}
						// if we auto skip ending we need to try open next seria
						if (settings.value.autoSkipEnding && inEnding && selectedEpisode.value !== episodes.at(-1)) {
							openNextSeria();
						}

						if (showOpening && !inOpening) window.vueApp.showOpening = false;
						if (showEnding && !inEnding) window.vueApp.showEnding = false;

						window.vueApp.skipStepTimer++;
						if (window.vueApp.skipStepTimer == 50) {
							window.vueApp.watchVideoRelease(window.vueApp.selectedReleaseId, selectedEpisode.id, Math.round(currentTime));
							window.vueApp.skipStepTimer = 0;
						}
					});					
					videoPlayer = player;

					const videoSource = openEpisode(selectedEpisode.value);
					adjustVideoSource(videoSource);

					const nextSeriaButton = document.getElementById('nextSeriaButton');
					const previousSeriaButton = document.getElementById('previousSeriaButton');
					nextSeriaButton.addEventListener('click', openNextSeria);
					previousSeriaButton.addEventListener('click', openPreviousSeria);
				});

				return {
					mainMenuVisible,
					hlsSupported,
					episodes,
					poster,
					moveUp,
					moveDown,
					settings,
					selectedEpisode,
					openEpisodeFromList,
					playListVisible,
					seenMarks,
					toggleSeenMark,
					saveVideoPlayerSettings,
					showOpening,
					showEnding,
					skipStepTimer,
					skipOpeningOrEnding,
					watchVideoRelease,
					selectedReleaseId
				}
			}
		});

		window.vueApp = app.mount('#app');
	</script>
</body>
</html>