name: Linux and macOS CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  ubuntuBuild:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: apt-update
      run: sudo apt-get update -qq
    - name: apt get dependencies
      run: sudo apt-get install cmake build-essential libmpv-dev pkg-config
    - name: Install Qt dependencies
      uses: jurplel/install-qt-action@v4
      with:
        version: 6.9
        target: 'desktop'
        modules: 'qtwebsockets'
    - name: configure cmake
      run: cmake -S src -B build
    - name: build cmake
      run: cmake --build build -j$(nproc)
    - name: test dir
      run: |
        ls ../Qt/6.9.*/gcc_64/plugins
    - name: prepare AppDir
      run: |
          patchelf --set-rpath '$ORIGIN/usr/lib' build/AniLiberty
          mkdir -p AppDir/usr/bin
          cp build/AniLiberty AppDir/usr/bin/
          cp appimage/AniLiberty.desktop AppDir/AniLiberty.desktop
          cp appimage/AniLiberty.png AppDir/AniLiberty.png
          chmod +x appimage/AppRun
          cp appimage/AppRun AppDir/AppRun
          python3 appimagedeps.py
          mkdir AppDir/usr/plugins
          cp -r ../Qt/6.9.*/gcc_64/plugins/platforms AppDir/usr/lib/plugins
          cp -r ../Qt/6.9.*/gcc_64/plugins/generic AppDir/usr/lib/plugins
          cp -r ../Qt/6.9.*/gcc_64/plugins/imageformats AppDir/usr/lib/plugins
          cp -r ../Qt/6.9.*/gcc_64/plugins/iconengines AppDir/usr/lib/plugins
          cp -r ../Qt/6.9.*/gcc_64/plugins/platformthemes AppDir/usr/lib/plugins
          cp -r ../Qt/6.9.*/gcc_64/plugins/qmlls AppDir/usr/lib/plugins
          cp -r ../Qt/6.9.*/gcc_64/plugins/tls AppDir/usr/lib/plugins
          cp -r ../Qt/6.9.*/gcc_64/plugins/qmllint AppDir/usr/lib/plugins
          cp -r ../Qt/6.9.*/gcc_64/plugins/wayland-graphics-integration-client AppDir/usr/lib/plugins
          cp -r ../Qt/6.9.*/gcc_64/plugins/wayland-decoration-client AppDir/usr/lib/plugins
          cp -r ../Qt/6.9.*/gcc_64/plugins/wayland-shell-integration AppDir/usr/lib/plugins
          cp -r ../Qt/6.9.*/gcc_64/plugins/xcbglintegrations AppDir/usr/lib/plugins
          cp -r ../Qt/6.9.*/gcc_64/plugins/egldeviceintegrations AppDir/usr/lib/plugins
          cp -r ../Qt/6.9.*/gcc_64/plugins/platforminputcontexts AppDir/usr/lib/plugins
          cp -r ../Qt/6.9.*/gcc_64/plugins/networkinformation AppDir/usr/lib/plugins
    - name: Download and use appimagetool
      run: |
        wget -q -O appimagetool https://github.com/AppImage/appimagetool/releases/download/continuous/appimagetool-x86_64.AppImage
        chmod +x appimagetool
        ./appimagetool AppDir/
    - uses: actions/upload-artifact@v4
      with:
        name: deb-package
        path: AniLiberty-x86_64.AppImage
#  macosbuild:
#    runs-on: macos-14
#    steps:
#    - uses: actions/checkout@v4
#    - name: Set up Homebrew
#      run: arch -x86_64 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
#    - name: Fix brew issue
#      run: |
#        arch -x86_64 rm /usr/local/bin/2to3
#        arch -x86_64 rm /usr/local/bin/idle3
#        arch -x86_64 rm /usr/local/bin/pydoc3
#        arch -x86_64 rm /usr/local/bin/python3
#        arch -x86_64 rm /usr/local/bin/python3-config
#        arch -x86_64 rm '/usr/local/bin/idle3.14'
#        arch -x86_64 rm '/usr/local/bin/pydoc3.14'
#        arch -x86_64 rm '/usr/local/bin/python3.14'
#        arch -x86_64 rm '/usr/local/bin/python3.14-config'
#        arch -x86_64 rm '/usr/local/bin/pip3.14'
#    - name: install pkg-config
#      run: arch -x86_64 /usr/local/bin/brew install pkg-config
#    - name: install mpv
#      run: arch -x86_64 /usr/local/bin/brew install mpv --formula
#    - name: Install Qt dependencies
#      uses: jurplel/install-qt-action@v4
#      with:
#        version: 5.15.2
#        target: 'desktop'
#        arch: 'clang_64'        
#    - name: run qmake
#      run: arch -x86_64 qmake -makefile -o src/Makefile src/AniLibria.pro
#    - name: run make
#      run: make -j4 -C src
#    - name: Run MacDeployQt
#      run: cd src && macdeployqt AniLibria.app -appstore-compliant -qmldir=.
#    - name: show all libraries in app folder
#      run: ls src/AniLibria.app/Contents/Frameworks/
#    - name: patch libraries paths
#      run: |
#        cp /usr/local/lib/libsharpyuv.0.dylib src/AniLibria.app/Contents/Frameworks/
#        cp /usr/local/lib/libjxl_cms.0.11.dylib src/AniLibria.app/Contents/Frameworks/
#        cp /usr/local/opt/python@3.14/Frameworks/Python.framework/Versions/3.14/Python src/AniLibria.app/Contents/Frameworks/
#      
#        arch -x86_64 install_name_tool -change /usr/local/Cellar/ffmpeg/8.0.1/lib/libswresample.6.dylib @executable_path/../Frameworks/libswresample.6.dylib src/AniLibria.app/Contents/Frameworks/libavcodec.62.dylib
#        arch -x86_64 install_name_tool -change /usr/local/Cellar/ffmpeg/8.0.1/lib/libavutil.60.dylib @executable_path/../Frameworks/libavutil.60.dylib src/AniLibria.app/Contents/Frameworks/libavcodec.62.dylib
#        arch -x86_64 install_name_tool -change /usr/local/Cellar/ffmpeg/8.0.1/lib/libswscale.9.dylib @executable_path/../Frameworks/libswscale.9.dylib src/AniLibria.app/Contents/Frameworks/libavfilter.11.dylib
#        arch -x86_64 install_name_tool -change /usr/local/Cellar/ffmpeg/8.0.1/lib/libavutil.60.dylib @executable_path/../Frameworks/libavutil.60.dylib src/AniLibria.app/Contents/Frameworks/libavfilter.11.dylib
#        arch -x86_64 install_name_tool -change /usr/local/Cellar/ffmpeg/8.0.1/lib/libavcodec.62.dylib @executable_path/../Frameworks/libavcodec.62.dylib src/AniLibria.app/Contents/Frameworks/libavfilter.11.dylib
#        arch -x86_64 install_name_tool -change /usr/local/Cellar/ffmpeg/8.0.1/lib/libavformat.62.dylib @executable_path/../Frameworks/libavformat.62.dylib src/AniLibria.app/Contents/Frameworks/libavfilter.11.dylib
#        arch -x86_64 install_name_tool -change /usr/local/Cellar/ffmpeg/8.0.1/lib/libpostproc.58.dylib @executable_path/../Frameworks/libpostproc.58.dylib src/AniLibria.app/Contents/Frameworks/libavfilter.11.dylib
#        arch -x86_64 install_name_tool -change /usr/local/Cellar/ffmpeg/8.0.1/lib/libswresample.6.dylib @executable_path/../Frameworks/libswresample.6.dylib src/AniLibria.app/Contents/Frameworks/libavfilter.11.dylib
#        
#        arch -x86_64 install_name_tool -change /usr/local/Cellar/ffmpeg/8.0.1/lib/libavutil.60.dylib @executable_path/../Frameworks/libavutil.60.dylib src/AniLibria.app/Contents/Frameworks/libswresample.6.dylib
#        arch -x86_64 install_name_tool -change /usr/local/Cellar/ffmpeg/8.0.1/lib/libavutil.60.dylib @executable_path/../Frameworks/libavutil.60.dylib src/AniLibria.app/Contents/Frameworks/libswscale.9.dylib
#
#        arch -x86_64 install_name_tool -change /usr/local/Cellar/ffmpeg/8.0.1/lib/libavcodec.62.dylib @executable_path/../Frameworks/libavcodec.62.dylib src/AniLibria.app/Contents/Frameworks/libavformat.62.dylib
#        arch -x86_64 install_name_tool -change /usr/local/Cellar/ffmpeg/8.0.1/lib/libswresample.6.dylib @executable_path/../Frameworks/libswresample.6.dylib src/AniLibria.app/Contents/Frameworks/libavformat.62.dylib
#        arch -x86_64 install_name_tool -change /usr/local/Cellar/ffmpeg/8.0.1/lib/libavutil.60.dylib @executable_path/../Frameworks/libavutil.60.dylib src/AniLibria.app/Contents/Frameworks/libavformat.62.dylib
#
#        arch -x86_64 install_name_tool -change /usr/local/Cellar/ffmpeg/8.0.1/lib/libavfilter.11.dylib @executable_path/../Frameworks/libavfilter.11.dylib src/AniLibria.app/Contents/Frameworks/libavdevice.62.dylib
#        arch -x86_64 install_name_tool -change /usr/local/Cellar/ffmpeg/8.0.1/lib/libswscale.9.dylib @executable_path/../Frameworks/libswscale.9.dylib src/AniLibria.app/Contents/Frameworks/libavdevice.62.dylib
#        arch -x86_64 install_name_tool -change /usr/local/Cellar/ffmpeg/8.0.1/lib/libpostproc.58.dylib @executable_path/../Frameworks/libpostproc.58.dylib src/AniLibria.app/Contents/Frameworks/libavdevice.62.dylib
#        arch -x86_64 install_name_tool -change /usr/local/Cellar/ffmpeg/8.0.1/lib/libavformat.62.dylib @executable_path/../Frameworks/libavformat.62.dylib src/AniLibria.app/Contents/Frameworks/libavdevice.62.dylib
#        arch -x86_64 install_name_tool -change /usr/local/Cellar/ffmpeg/8.0.1/lib/libavcodec.62.dylib @executable_path/../Frameworks/libavcodec.62.dylib src/AniLibria.app/Contents/Frameworks/libavdevice.62.dylib
#        arch -x86_64 install_name_tool -change /usr/local/Cellar/ffmpeg/8.0.1/lib/libswresample.6.dylib @executable_path/../Frameworks/libswresample.6.dylib src/AniLibria.app/Contents/Frameworks/libavdevice.62.dylib
#        arch -x86_64 install_name_tool -change /usr/local/Cellar/ffmpeg/8.0.1/lib/libavutil.60.dylib @executable_path/../Frameworks/libavutil.60.dylib src/AniLibria.app/Contents/Frameworks/libavdevice.62.dylib
#
#        arch -x86_64 install_name_tool -change /usr/local/Cellar/brotli/1.1.0/lib/libbrotlicommon.1.dylib @executable_path/../Frameworks/libbrotlicommon.1.dylib src/AniLibria.app/Contents/Frameworks/libbrotlidec.1.dylib
#        arch -x86_64 install_name_tool -change /usr/local/Cellar/brotli/1.1.0/lib/libbrotlicommon.1.dylib @executable_path/../Frameworks/libbrotlicommon.1.dylib src/AniLibria.app/Contents/Frameworks/libbrotlienc.1.dylib
#
#        arch -x86_64 install_name_tool -change /usr/local/Cellar/brotli/1.1.0/lib/libbrotlicommon.1.dylib @executable_path/../Frameworks/ src/AniLibria.app/Contents/Frameworks/librubberband.3.dylib
#        
#        arch -x86_64 install_name_tool -change /usr/local/opt/little-cms2/lib/liblcms2.2.dylib @executable_path/../Frameworks/liblcms2.2.dylib src/AniLibria.app/Contents/Frameworks/libjxl_cms.0.11.dylib
#        arch -x86_64 install_name_tool -change /usr/local/opt/highway/lib/libhwy.1.dylib @executable_path/../Frameworks/libhwy.1.dylib src/AniLibria.app/Contents/Frameworks/libjxl_cms.0.11.dylib
#        
#        arch -x86_64 install_name_tool -change @loader_path/../../../../opt/libsamplerate/lib/libsamplerate.0.dylib @executable_path/../Frameworks/libhwy.1.dylib src/AniLibria.app/Contents/Frameworks/librubberband.3.dylib
#        arch -x86_64 install_name_tool -change /usr/local/opt/python@3.14/Frameworks/Python.framework/Versions/3.14/Python @executable_path/../Frameworks/Python src/AniLibria.app/Contents/Frameworks/libvapoursynth-script.0.dylib
#        arch -x86_64 install_name_tool -change /usr/local/Cellar/nettle/3.10.2/lib/libnettle.8.dylib @executable_path/../Frameworks/libnettle.8.dylib src/AniLibria.app/Contents/Frameworks/libhogweed.6.dylib
#        
#        arch -x86_64 install_name_tool -change /usr/local/Cellar/libxcb/1.17.0/lib/libxcb.1.dylib @executable_path/../Frameworks/libxcb.1.dylib src/AniLibria.app/Contents/Frameworks/libxcb-shm.0.dylib
#        arch -x86_64 install_name_tool -change /usr/local/Cellar/libxcb/1.17.0/lib/libxcb.1.dylib @executable_path/../Frameworks/libxcb.1.dylib src/AniLibria.app/Contents/Frameworks/libxcb-shape.0.dylib
#        arch -x86_64 install_name_tool -change /usr/local/Cellar/libxcb/1.17.0/lib/libxcb.1.dylib @executable_path/../Frameworks/libxcb.1.dylib src/AniLibria.app/Contents/Frameworks/libxcb-xfixes.0.dylib      
#
#    - name: TestRun
#      run: |
#        open -W src/AniLibria.app --args testrun
#        log show --predicate 'process == "AniLibria"' --last 1h
#    - name: Create DMG
#      run: hdiutil create -fs HFS+ -srcfolder src/AniLibria.app/ -volname AniLibria AniLibria.dmg
#    - uses: actions/upload-artifact@v4
#      with:
#        path: AniLibria.dmg
