name: Flatpak x86_64 Build

on:
  push:
    branches: [deploy]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: bilelmoussaoui/flatpak-github-actions:gnome-40
      options: --privileged
    strategy:
      matrix:
        arch: [x86_64, aarch64]
      fail-fast: true
    steps:
    - uses: actions/checkout@v3
    - name: Install deps
      run: |
        dnf -y install docker
    - name: Set up QEMU
      id: qemu
      uses: docker/setup-qemu-action@v1
      with:
        platforms: arm64
    - uses: flatpak/flatpak-github-actions/flatpak-builder@v5
      with:
        bundle: anilibria.flatpak
        manifest-path: tv.anilibria.app.yml
        cache-key: flatpak-builder-${{ github.sha }}
        arch: ${{ matrix.arch }}
    - uses: actions/upload-artifact@v3
      with:
        name: flatpak-package
        path: anilibria.flatpak
