.torrents-rightmenu {
    left: 100%;
    top: 0;
    transform: unset;
    font-size: 13px;
}

.torrents-rightmenu-settings {
    width: 340px;
    max-width: 400px;
    height: 160px;
    padding: 8px;
}

.torrents-rightmenu-remove {
    width: 180px;
    height: 35px;
    padding: 8px;
}

.torrents-empty-search {
    width: 100%;
    height: calc(100vh - 38px - 40px); /* 38 upper panel and 40 subheader */

    > div {
        text-align: center;
        font-size: 17px;
    }
}

.torrents-disclaimer {
    font-size: var(--middle-font-size);
    font-style: italic;
}

.torrents-sortable-quality-container {
    width: 60px;
}

.torrents-selection-helper {
    font-size: 15px;
    font-weight: bold;
    opacity: .5;
    width: 240px;
    height: 80px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    -webkit-user-select: none;
    user-select: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    pointer-events: none;
    text-align: right;
}

.torrents-backtotop-helper {
    font-size: 15px;
    font-weight: bold;
    opacity: .5;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    bottom: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: right;

    &:hover {
        opacity: 1;
        background-color: var(--icon-button-hovered)
    }
}

.torrents-pulse-animation {
    animation: pulse-grow 3s infinite ease-in-out;
}

@keyframes pulse-grow {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.07);
  }
  70% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

