.torrents-rightmenu {
    left: 100%;
    top: 0;
    transform: unset;
    font-size: 13px;
}

.torrents-rightmenu-settings {
    width: 380px;
    max-width: 400px;
    height: 260px;
    padding: 8px;
}

.torrents-empty-search {
    width: 100%;
    height: calc(100vh - 38px - 40px); /* 38 upper panel and 40 subheader */

    > div {
        text-align: center;
        font-size: 17px;
    }
}
