.videoplayer-container {
    width: 100%;
    height: calc(100vh - 38px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;

    .play-list {
        position: relative;
        width: 100px;

    }
}

.videoplayer-rightmenu {
    left: 100%;
    top: 0;
    transform: unset;
    font-size: 15px;
}

.videoplayer-rightmenu-quality {
    width: 230px;
    padding: 8px;

    .quality-line {
        height: 40px;
    }

    .quality-title {
        width: 40px;
    }

    .little-arrows {
        font-size: 25px;
        font-weight: bold;
    }

    .little-arrow {
        width: 40px;
        border-radius: 4px;
        background-color: transparent;

        &:hover {
            background-color: var(--icon-button-hovered)
        }
    }
}

.videoplayer-playlist-container {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 180px;
    background-color: var(--page-background);
    opacity: 0.8;
    max-height: 200px;
    overflow-y: auto;

    .playlist-item {
        height: 30px;
        background-color: var(--videoplayer-idle-item);
        color: var(--videoplayer-idle-color);
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 6px;
    }
    .playlist-item:hover {
        background-color: var(--videoplayer-selected-item);
    }
    .playlist-selected-item {
        background-color: var(--videoplayer-selected-item);
        color: var(--videoplayer-selected-color);
    }
}

/* Change plyr styles */

.plyr {
    width: 100%;
    height: 100%;
}
.plyr video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
